:root {
  --fixed-top-border-width: 78px;
  --fixed-border-width: 30px;
}

@media (max-width: 768px) {
  :root {
    --fixed-border-width: 15px;
  }
}

body:before,
body:after {
  content: "";
  position: fixed;
  background: white;
  left: 0;
  right: 0;
  z-index: 9999;
  padding-bottom: var(--fixed-border-width);  
}

body:before {
  top: 0;
}

body:after {
  bottom: 0;
}

body {
  border-left: var(--fixed-border-width) solid white;
  border-right: var(--fixed-border-width) solid white;  
  background: #fff;  /* fallback for old browsers */
}

.content {
  font-family: 'PT Sans', sans-serif;
  z-index: 1000;
  padding-top: var(--fixed-top-border-width);
  padding-bottom: var(--fixed-border-width);
}

.top-nav {
  z-index: 9999;
}

.blog {
  background-color: black;
}

.top-nav nav {
  font-family: "sabbath-black",serif;
  font-size: 2.5rem;
  transition: 0.08s;
  background-color: white;
}
